:root {
	--borderRadius: 4px;
	--spacing: 10px;
	--generalColour: #c7c7c7;
	--lineColour: #b3b3b3;
	--bodySpacing: 5%;
}

body {
	background-color: #171721;
	color: var(--generalColour);
	font-size: 15px;
	width: 100%;
	height: 100%;
}

pre {
	padding : var(--spacing);
	border: 2px solid var(--lineColour);
	border-radius: var(--borderRadius);
}

ul {
	list-style-type: disclosure-closed;
}

code {
	color: #DAA520;
}

a {
	text-decoration: none;
	color: #1E90FF;
}
a:hover {
	color: #00BFFF;
}

table {
	text-align: center;
	border-collapse: collapse;
}

td,
th {
	padding: var(--spacing);
}
td {
	border: 2px solid var(--lineColour);
	text-align: center;
}
th {
	background-color: #262630;
	border: 2px solid var(--lineColour);
}
th:first-child {
	border-radius: var(--borderRadius) 0 0 0;
}
th:last-child {
	border-radius: 0 var(--borderRadius) 0 0;
}

.mainContent {
	margin-top: 7%;
	padding-left: var(--bodySpacing);
	padding-right: var(--bodySpacing);;
	border-left: 2px solid var(--generalColour);
	border-right: 2px solid var(--generalColour);
	height: 100%;
	padding-top: 2%;
}

.navbar {
	border-bottom: 2px solid var(--lineColour);
	border-left: 2px solid var(--lineColour);
	border-right: 2px solid var(--lineColour);
	background-color: inherit;
	font-size: 50px;
	list-style-type: none;
	padding-left: var(--bodySpacing);
	padding-right: calc(var(--bodySpacgin) - 0.3%);
	padding-bottom: calc(var(--bodySpacing) / 4);
	padding-top: calc(var(--bodySpacing) / 4);
	top: 0;
	position: fixed;
	display: inline;
	width: 60%;
	text-align: center;
	margin-top: 0;
}

.navbar:hover {
	cursor:pointer;
}

.navbar,
.mainContent {
	margin-left: 15%;
	margin-right: 15%;
}