:root {
	--borderRadius: 4px;
	--spacing: 10px;
	--generalColour: #c7c7c7;
	--lineColour: #b3b3b3;
}

body {
	background-color: #171721;
	color: var(--generalColour);
	font-size: 15px;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 85px;
}

pre {
	padding : var(--spacing);
	border: 2px solid var(--lineColour);
	border-radius: var(--borderRadius);
}

code {
	color: #DAA520;
}

a {
	text-decoration: none;
	color: #1E90FF;
}
a:hover {
	color: #00BFFF;
}

table {
	text-align: center;
	border-collapse: collapse;
}

td,
th {
	padding: var(--spacing);
}
td {
	border: 2px solid var(--lineColour);
	text-align: center;
}
th {
	background-color: #262630;
	border: 2px solid var(--lineColour);
}
th:first-child {
	border-radius: var(--borderRadius) 0 0 0;
}
th:last-child {
	border-radius: 0 var(--borderRadius) 0 0;
}

.navbar {
	border-radius: var(--border-radius);
	border-color: var(--lineColour);
	border-size: 2px;
	font-size: 50px;
	list-style-type: none;
	margin: 0 auto;
	padding: var(--spacing);
	top: 0;
	position: fixed;
	display: inline;
	width: 60%;
	text-align: center;
}

.navbar:hover {
	cursor:pointer;
}