:root {
	--borderRadius: 4px;
	--spacing: 5px;
	--generalColour: #c7c7c7;
}

body {
	background-color: #171721;
	color: var(--generalColour);
	font-size: 15px;
}

body,
code,
ul,
pre {
	padding : var(--spacing);
}

code {
	border-radius: var(--borderRadius);
}

a {
	text-decoration: none;
	color: #1E90FF;
}
a:hover {
	color: #00BFFF;
}

table {
	text-align: center;
}
td {
	border: 2px solid var(--generalColour);
	text-align: center;
}
th {
	background-color: darkgrey;
	border: 2px solid var(--generalColour);
}
th:first-child {
	border-radius: var(--borderRadius) 0 0 0;
}
th:last-child {
	border-radius: 0 var(--borderRadius) 0 0;
}

.navbar {
	border-radius: var(--border-radius);
	border: 2px solid var(--generalColour);
	font-size: 50px;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	top: 0;
  	position: fixed;
  	display: inline;
}

.navbar:hover {
	cursor:pointer;
}